.main-svg {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: auto;
}

.axis path,
.axis line {
    stroke-opacity: 0.1;
    fill: none;
    stroke: none;
}


.axis text{
    font-family: sans-serif
    font-size: 12px;
    font-weight: bold;
}

.bg_bar {
    fill:white;
}


.lasso path {
    stroke: rgb(80,80,80);
    stroke-width:2px;
}

.lasso .drawn {
    fill-opacity:.05 ;
}

.lasso .loop_close {
    fill:none;
    stroke-dasharray: 4,4;
}

.lasso .origin {
    fill:#ab2424;
    fill-opacity:1;
}

.not_possible {
    fill: rgb(200,200,200);
}

.possible {
    fill: #EC888C;
}

.selected {
    fill: #ab2424;
}