<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Visual Interface</title>
    <meta name="author" content="NYU UGR Team">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="static/css/projection-style.css" rel="stylesheet" type="text/css">

    <!-- D3.js and jQuery source -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script type="text/javascript" src="static/js/d3.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script> -->
    <!-- rSlider source -->
    <script type="text/javascript" src="static/js/rSlider.min.js"></script>
    <!-- AG Grid source -->
    <script src="https://unpkg.com/@ag-grid-community/all-modules/dist/ag-grid-community.min.js"></script>
    <!-- SVG scripts -->
    <script type="text/javascript" src="static/js/main_graph.js"></script>
    <script type="text/javascript" src="static/js/model_summary.js"></script>
    <script type="text/javascript" src="static/js/direction_signs.js"></script>
    <script type="text/javascript" src="static/js/anchor_graphs.js"></script>
    <script type="text/javascript" src="static/js/square_graphs_simple.js"></script>
    <script type="text/javascript" src="static/js/occ_bar.js"></script>
    <script type="text/javascript" src="static/js/mini_graph.js"></script>
    <script type="text/javascript" src="static/js/percentage_bar.js"></script>
    <script type="text/javascript" src="static/js/squares.js"></script>
    <script type="text/javascript" src="static/js/violin_graph.js"></script>
    <script type="text/javascript" src="static/js/full_aggregation.js"></script>
    <script type="text/javascript" src="static/js/d3-lasso.min.js"></script>
    <script type="text/javascript" src="static/js/scatter.js"></script>
    <script type="text/javascript" src="static/js/confusion_matrix.js"></script>
    <script type="text/javascript" src="static/js/filter_selector.js"></script>
    <script type="text/javascript" src="static/js/percentage_filter.js"></script>
    <script type="text/javascript" src="static/js/feature_selector.js"></script>
    <script type="text/javascript" src="static/js/advanced_comparison.js"></script>

  </head>

  <body>
    <div class="main">
      <div class="left-sidebar-proj">
        <header class="site-header-proj">
          <h1><a href="/">HOME</a></h1>
        </header>
        <nav class="left-nav-proj">
          <ul>
            <li><a href="projection"> GLOBAL </a></li>
            <li><a href="individual"> LOCAL </a></li>
          </ul>
        </nav>
      </div>
      
      <div class="right-side-proj" id="demo">

        <div id="middle-panel-proj">
          <table class="proj-table" id="filter-sets-table">
                 <!-- <tr>
                   <td colspan="1">
                     <div id="filter-div-1" class="filter-set">
                       Filter Set 1
                       <button class="reset-button-proj">
                         Reset
                       </button>
                       <div id="percentage-filter-div">
                       </div>
                       <div id="confusion-matrix-filter-div">
                       </div>
                       <div id="feature-range-filter-div">
                         <select id="feature-dropdown">
                           <option value="init" selected disabled>Choose feature</option>
                         </select>
                         <div id="feature-range-slider-div">
                          Feature range slider
                         </div>
                       </div>  
                     </div>
                   </td>
                   <td colspan="1">
                     <div id="summary-div">
                       Summary
                     </div>
                   </td>
                 </tr> -->
            <tr id="tr-new-filter-set-button">
              <td colspan="2">
                <button onclick="addFilterSet()">
                  +
                </button>
              </td>
            </tr>
          </table>
        </div>

        <div id="right-panel-proj">
          <table class="proj-table">
            <tr>
              <th style="border-radius: 1px; width: 280px">
                <div class="btn-group-proj" >
                  <button id="median-button" class="proj-button"> Median </button>
                  <button id="points-button" class="proj-button"> Points </button>
                  <button id="density-button" class="proj-button"> Density </button>
                  <button id="cf-button" class="proj-button"> CF </button>
                </div>
              </th>
            </tr>
            <tr>
              <td>
                <div id="distribution-div">
                  Distribution
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div id="table-div" class="ag-theme-balham">
                  Table
                </div>
              </td>
            </tr>
          </table>
          <div>

        </div>
          


    <script>
    
      var no_features = {{no_features}};
      var feature_selector_input = "{{feature_selector_input}}";
      feature_selector_input = feature_selector_input.replace(/&#34;/g, "");
      feature_selector_input = feature_selector_input.replace(/den/g, '\"den\"');
      feature_selector_input = feature_selector_input.replace(/id/g, '\"id\"');
      feature_selector_input = feature_selector_input.replace(/current/g, '\"current\"');
      feature_selector_input = feature_selector_input.replace(/range/g, '\"range\"');

      var percentage_filter_input = {{percentage_filter_input}};
      
      var ft_names = "{{feature_names}}";
      ft_names = ft_names.replace(/&#34;/g, "");
      ft_names = ft_names.slice(1, ft_names.length-1).replace(/\s+/g, '');;
      ft_names = ft_names.split(",");
      var preproc_path = "{{preproc_path}}";
      var dark_shade = "rgb(180, 177, 213)";
      var light_shade = "white";

      var txtFile;
      var httpRequest;
      var hhtpRequestViolin;
      var httpRequestTable;
      var cold_start = true;
      var curr_aggr_ids = [];
      var selected_fts = [-1];
      var curr_alg = "True";
      var dim_red = "PCA";
      var directionality = "True";
      var pred_range = [[0,100],[0,100],[0,100]];
      var confusion_mat = [["TP", "FP", "TN", "FN"],["TP", "FP", "TN", "FN"],["TP", "FP", "TN", "FN"]];
      var filter_set_idx = 0;
      var filter_set_idx_cmp = 0;
      var doing_comparison = 0;
      var left_mask = [];
      var right_mask = [];
      var n_filter_sets = 0;

      feature_selector_input = JSON.parse(feature_selector_input);
      for (i=0; i<ft_names.length; i++){
        feature_selector_input[i]['name'] = ft_names[i];
      }
      
      var ft_curr_range = [[],[],[]];
      reset_ft_curr_ranges(0);
      reset_ft_curr_ranges(1);
      reset_ft_curr_ranges(2);

      // console.log("FT names:", ft_names);
      // console.log("FT selector input:", feature_selector_input);
      // console.log("FT current ranges:", ft_curr_range);
      // console.log("Percentage filter input:", percentage_filter_input);
      
      function reset_ft_curr_ranges (idx){
        // Generalize to many filter sets later
        console.log("Reseting ranges at idx", idx);
        var rangs = [];
        for (i=0; i<ft_names.length; i++){
          rangs.push (feature_selector_input[i]['range']); 
        }
        ft_curr_range[idx] = rangs;
      }
    
      // Check if currently all filters are selected to handle logic of click dispatches
      function confusion_restart(){
        if (confusion_mat[filter_set_idx].length == 4){
          return true;
        }
        else return false;
      }

      function confusion_mat_2_state(curr_conf_mat){
        // Order: [TP, FP, FN, TN]
        var state = [];
        if (curr_conf_mat.indexOf("TP") > -1){state.push(1);}
        else {state.push(0);}
        if (curr_conf_mat.indexOf("FP") > -1){state.push(1);}
        else {state.push(0);}
        if (curr_conf_mat.indexOf("FN") > -1){state.push(1);}
        else {state.push(0);}
        if (curr_conf_mat.indexOf("TN") > -1){state.push(1);}
        else {state.push(0);}
        return state;
      }

      function create_filter_set (idx){

        var tr = document.createElement("tr");
        var td_fil = document.createElement("td");
        var filter_div = document.createElement("div");

        filter_div.innerHTML = "Filter Set " + idx.toString();
        filter_div.id = "filter-div-" + idx.toString();
        filter_div.className = "filter-set";

        var reset_btn = document.createElement("button");
        reset_btn.id = "reset-button-proj-" + idx.toString();
        reset_btn.className = "reset-button-proj"
        reset_btn.innerHTML = "Reset";
        reset_btn.dataset.filtersetidx = idx.toString();
        reset_btn.onclick = function(){resetFeatures(this);}

        var percent_filt_div = document.createElement("div");
        percent_filt_div.id = "percentage-filter-div-" + idx.toString();

        var confmat_filt_div = document.createElement("div");
        confmat_filt_div.id = "confusion-matrix-filter-div-" + idx.toString();

        var ftrang_filt_div = document.createElement("div");
        ftrang_filt_div.id = "feature-range-filter-div-" + idx.toString();
        ftrang_filt_div.innerHTML = "Feature range slider";

        var ft_dropdown = document.createElement("select");
        ft_dropdown.id = "feature-dropdown-" + idx.toString();

        var init_option = document.createElement("option");
        init_option.value = "init" + idx.toString();
        init_option.innerHTML = "Choose feature";
        init_option.disabled = true;
        init_option.selected = true;
        ft_dropdown.appendChild(init_option);
        ft_dropdown.value = "init";

        var ftrang_slider = document.createElement("div");
        ftrang_slider.id = "feature-range-slider-div-" + idx.toString();
        ftrang_slider.style.height = "80px";

        ftrang_filt_div.appendChild(document.createElement("br"));
        ftrang_filt_div.appendChild(ft_dropdown);
        ftrang_filt_div.appendChild(ftrang_slider);

        filter_div.appendChild(reset_btn);
        filter_div.appendChild(percent_filt_div);
        filter_div.appendChild(confmat_filt_div);
        filter_div.appendChild(ftrang_filt_div);

        td_fil.appendChild(filter_div);

        var td_sum = document.createElement("td");
        var sum_div = document.createElement("div");

        sum_div.id = "summary-div-" + idx.toString();
        td_sum.appendChild(sum_div);

        tr.appendChild(td_fil);
        tr.appendChild(td_sum);

        return tr;
      }

      // wrapper to avoid duplicates
      function draw_filters(conf_mat_state, idx){
        // Confusion Matrix Order: [TP, FP, FN, TN]
        var curr_matrix = document.getElementById("confusion-matrix-filter-div-"+idx.toString()).getElementsByClassName("confusionMat");
        if (curr_matrix.length > 0){
          curr_matrix[0].parentNode.removeChild(curr_matrix[0]);
        }

        // TODO: Feedback the data that is in the conf_matrix at the moment
        var example_data = {'tn': 1, 'fp': 1, 'tp': 1, 'fn': 1};
        confusion_matrix("#confusion-matrix-filter-div-"+idx.toString(), conf_mat_state, example_data, idx);

        // Percentage Filter
        var curr_percentage = document.getElementById("percentage-filter-div-"+idx.toString()).getElementsByClassName("percentageBar");
        if (curr_percentage.length > 0){
          curr_percentage[0].parentNode.removeChild(curr_percentage[0]);
        }
        percentage_bar("#percentage-filter-div-"+idx.toString(), pred_range[filter_set_idx], percentage_filter_input, idx);

        // Feature selector dropdown
        var ft_dropdown_opts = document.getElementsByClassName("ft-dropdown-option-"+idx.toString());
        if (ft_dropdown_opts.length <= 1){
          var ft_dropdown = document.getElementById("feature-dropdown-"+idx.toString());
          ft_dropdown.onchange = function () {draw_feature_selector(this,idx);};
          for (i=0; i<ft_names.length; i++){
            var option = document.createElement("option");
            option.text = ft_names[i];
            option.value = i;
            option.ftid = i;
            option.className = "ft-dropdown-option-"+idx.toString();
            option.parent_idx = idx;
            option.onclick = function () {draw_feature_selector(this,idx);};
            ft_dropdown.add(option);
          }
        }     
      }

      // wrapper to avoid duplicates
      function draw_feature_selector(ft_option,idx){
        console.log("Feature selector idx:", ft_option.value);
        var aFeature = feature_selector_input[ft_option.value];
        aFeature['current'] = ft_curr_range[filter_set_idx][ft_option.value];
        console.log("Drawing range slider", aFeature);
        document.getElementById("feature-range-slider-div-"+ft_option.id.replace("feature-dropdown-", "")).innerHTML = "";
        feature_selector("#feature-range-slider-div-"+ft_option.id.replace("feature-dropdown-", ""), aFeature,idx);
      }

      // Get preprocessed csv file
      function fetch_csv(){
        txtFile = new XMLHttpRequest();
        txtFile.onreadystatechange = initContents;
        txtFile.open("GET", preproc_path);
        txtFile.send()
      }
      
      // Parse csv
      var pre_array = [];
      function initContents() {
        if (txtFile.readyState === XMLHttpRequest.DONE) {
          if (txtFile.status === 200) {
            var rows = txtFile.responseText.split("\n");
            for (var i = 0; i < rows.length; i++) {
              var cells = rows[i].split(",");
              pre_array.push(cells);
            }
          }
        }
      }

      // Request to send feature list
      function makeScatterRequest() {
        httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
          alert('Giving up :( Cannot create an XMLHTTP instance');
          return false;
        }
        
        // selected features
        req_arr = [];

        if (n_filter_sets > 1){
          doing_comparison = 1;

        }
        
        // If not doing comparison
        if (doing_comparison == 0){
          // TODO: make sure indexes are correct
          filter_set_idx = 1;

          // Check the features that have been moved from their original range and pass those indexes to the backend
          var modified_range_idx = [];
          for (var j=0; j<ft_names.length; j++){
            if (ft_curr_range[filter_set_idx][j] != feature_selector_input[j]['range']){
              modified_range_idx.push(j);
            }
          }
          console.log("modified range indexes:", modified_range_idx);
          
          httpRequest.onreadystatechange = alertScatterPlot;
          httpRequest.open('GET', 'scatter_req?selected_fts=['+req_arr+']&algorithm='+curr_alg + '&dim_red='+dim_red + '&directionality='+directionality + '&confusion_mat_1='+ confusion_mat[filter_set_idx] + '&pred_range_1='+ pred_range[filter_set_idx] + '&ft_curr_range_1='+ ft_curr_range[filter_set_idx] 
            + '&modified_range_idx_1='+ modified_range_idx + '&filter_set_idx_1='+ filter_set_idx + '&doing_comparison='+ doing_comparison);
          httpRequest.send();
          return false;
        }

        // If doing comparison
        // Repeat for both filter sets filter_set_idx and filter_set_idx_cmp
        else {
          filter_set_idx = 1;
          filter_set_idx_cmp = 2;

          // Check the features that have been moved from their original range and pass those indexes to the backend
          var modified_range_idx_1 = [];
          var modified_range_idx_2 = [];
          for (var j=0; j<ft_names.length; j++){
            if (ft_curr_range[filter_set_idx][j] != feature_selector_input[j]['range']){
              modified_range_idx_1.push(j);
            }
            if (ft_curr_range[filter_set_idx_cmp][j] != feature_selector_input[j]['range']){
              modified_range_idx_2.push(j);
            }
          }
          console.log("modified range indexes:", modified_range_idx_1, modified_range_idx_2);
          
          httpRequest.onreadystatechange = alertScatterPlot;
          httpRequest.open('GET', 'scatter_req?selected_fts=['+req_arr+']&algorithm='+curr_alg + '&dim_red='+dim_red + '&directionality='+directionality + '&confusion_mat_1='+ confusion_mat[filter_set_idx] + '&confusion_mat_2='+ confusion_mat[filter_set_idx_cmp] + '&pred_range_1='+ pred_range[filter_set_idx] + '&pred_range_2='+ pred_range[filter_set_idx_cmp] + '&ft_curr_range_1='+ ft_curr_range[filter_set_idx] + '&ft_curr_range_2='+ ft_curr_range[filter_set_idx_cmp] 
            + '&modified_range_idx_1='+ modified_range_idx_1 + '&modified_range_idx_2='+ modified_range_idx_2 + '&filter_set_idx_1='+ filter_set_idx + '&filter_set_idx_2='+ filter_set_idx_cmp + '&doing_comparison='+ doing_comparison);
          httpRequest.send();
          return false;
        }
      }

      // Bokeh middle panel
      function alertScatterPlot() {

        if (httpRequest.readyState === XMLHttpRequest.OPENED){
          document.getElementById("middle-panel-proj").style.display = "inline-block";
          document.getElementById("summary-div-1").innerHTML = "";
          if (n_filter_sets>1){ document.getElementById("summary-div-2").innerHTML = "";}
          // add_loader(document.getElementById("middle-panel-proj"));    
        }

        else if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            //Do stuff with the response

            var resp_arr = httpRequest.responseText;

            var allData = JSON.parse(resp_arr);
            console.log(allData);
            // draw_scatter(allData[0], '#bokeh-div');
            // TODO: Do summary for matrix in place, and in correct index for the rest
            if (doing_comparison==0){
              draw_summary(allData[2],  allData[3], '#summary-div-1');
            }
            else if (doing_comparison==1){
              draw_summary(allData[2],  allData[3], '#summary-div-1');
              draw_summary(allData[5],  allData[6], '#summary-div-2');
            }
            
            //console.log(allData[1]);
            left_mask = allData[1];
            right_mask = allData[4];
            makeViolinRequest(left_mask, right_mask);
            makeTableRequest(allData[1]);
            //makeAggregationRequest();

            // Save the results

          }
          else {
              alert('HttpRequest Error')
          }
        }
      }

      function displayCachedFilterResults(idx){
      }
      
      // Request from bokeh plot to right panel aggregation
      function makeAggregationRequest(id_list) {
        httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
          alert('Giving up :( Cannot create an XMLHTTP instance');
          return false;
        }
        httpRequest.onreadystatechange = alertContentsAggregation;
        httpRequest.open('GET', 'aggregation_req?id_list='+id_list);   //id_list);
        httpRequest.send();
        return false;
      }

      // Right panel aggregation
      function alertContentsAggregation() {
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 200) {
            //Do stuff with the response
            
            var resp_arr = httpRequest.responseText;
            if (resp_arr!="-1"){
              var allData = JSON.parse(resp_arr);
              // console.log("right panel aggregation");
              document.getElementById("aggregation-div").innerHTML = "";
              draw_aggregation_graph(allData,"#aggregation-div");
              ft_list();
              highlight_features();
              cold_start = false;
            }
            // makeViolinRequest(id_list);

          }
          else {
              alert('HttpRequest Error');
          }
        }
      }

      // Request from scatter plot to right panel violin plot
      function makeViolinRequest(mask_1, mask_2="null") {
        httpRequestViolin = new XMLHttpRequest();
        if (!httpRequestViolin) {
          alert('Giving up :( Cannot create an XMLHTTP instance');
          return false;
        }

        var id_list_1 = [];
        var id_list_2 = [];
        for (var k=0; k<mask_1.length; k++){
          if(mask_1[k]==1) id_list_1.push(k);
        }
        if (id_list_1.length<1) id_list_1=[-1];

        if (mask_2 != "null"){
          for (var k=0; k<mask_1.length; k++){
            if(mask_2[k]==1) id_list_2.push(k);
          }
          if (id_list_2.length<1) id_list_2=[-1];
        }
        else {id_list_2="null";}

        // curr_aggr_ids = id_list;
        httpRequestViolin.onreadystatechange = alertContentsViolin;
        // httpRequestViolin.open('GET', 'violin_req?id_list='+curr_aggr_ids);  
        httpRequestViolin.open('GET', 'violin_req?id_list_1=' + id_list_1 + "&id_list_2=" + id_list_2);  
        httpRequestViolin.send();
        return false;
      }

      // Right panel violin plot
      var resp_list;
      function alertContentsViolin() {
        if (httpRequestViolin.readyState === XMLHttpRequest.DONE) {
          if (httpRequestViolin.status === 200) {
            //Do stuff with the response
            
            var resp_arr = httpRequestViolin.responseText;
            // --- Toggle Median Marker ---
            var median_toggle = (document.getElementById("median-button").style.backgroundColor == dark_shade);

            // --- Toggle Points ---
            var points_toggle = (document.getElementById("points-button").style.backgroundColor == dark_shade);

            // --- Toggle Density --- 
            var density_toggle = (document.getElementById("density-button").style.backgroundColor == dark_shade);

            // --- Toggle Density --- 
            var cf_toggle = (document.getElementById("cf-button").style.backgroundColor == dark_shade);

            // --- Sort Features --- 

            // --- Monotonicity ---  

            document.getElementById("distribution-div").innerHTML = "";
            if (resp_arr!="-1"){
              resp_list = JSON.parse(resp_arr);
            }

            draw_comparison(resp_list, "#distribution-div",
              median_toggle, density_toggle, points_toggle,cf_toggle);
       
            ft_list();
            highlight_features();
            cold_start = false;

          }
          else {
              alert('HttpRequest Error');
          }
        }
      }

      // Request from scatter plot to right panel table
      function makeTableRequest(mask) {
        httpRequestTable = new XMLHttpRequest();
        if (!httpRequestTable) {
          alert('Giving up :( Cannot create an XMLHTTP instance');
          return false;
        }

        console.log(mask.length);

        var id_list = [];
        for (var k=0; k<mask.length; k++){
          if(mask[k]==1) id_list.push(k);
        }
        if (id_list.length<1) return false;
        curr_aggr_ids = id_list;

        httpRequestTable.onreadystatechange = alertContentsTable;
        // httpRequestTable.open('GET', 'violin_req?id_list='+curr_aggr_ids);  
        httpRequestTable.open('GET', 'table_req?id_list='+id_list);  
        httpRequestTable.send();
        return false;
      }

      // Right panel table   
      function alertContentsTable() {
        if (httpRequestTable.readyState === XMLHttpRequest.DONE) {
          if (httpRequestTable.status === 200) {
            //Do stuff with the response
            
            var resp_arr = httpRequestTable.responseText;
            var resp_list_table;
            var resp_list_meta;

            document.getElementById("table-div").innerHTML = "";
            if (resp_arr!="-1"){
              resp_arr = JSON.parse(resp_arr);
            }
            resp_list_meta = resp_arr[0];
            resp_list_table = resp_arr[1];

            // specify the columns
            var columnDefs = [
              {headerName: "ID", field: "ID"},
              {headerName: "Percentage", field: "Percentage"},
              {headerName: "Category", field: "Category",
                cellClassRules: {
                    'table-tp': function(params) { return params.value === "TP"},
                    'table-tn': function(params) { return params.value === "TN"},
                    'table-fp': function(params) { return params.value === "FP"},
                    'table-fn': function(params) { return params.value === "FN"}
                }
              }
            ];
            for (var k=0; k<ft_names.length; k++){
              columnDefs.push({headerName: ft_names[k], field: ft_names[k]});
            }

                
            // specify the data
            var rowData = [];
            for (var k=0; k<resp_list_table.length; k++){
              var rowPoint = {};
              rowPoint["ID"] = resp_list_meta[k][0];
              rowPoint["Percentage"] = resp_list_meta[k][1];
              rowPoint["Category"] = resp_list_meta[k][2];
              for (var j=0; j<ft_names.length; j++){
                rowPoint[ft_names[j]] = resp_list_table[k][j];
              }
              rowData.push(rowPoint);
            }
                
            // let the grid know which columns and what data to use
            var gridOptions = {
              defaultColDef: {
                  resizable: true,
                  sortable: true
              },
              columnDefs: columnDefs,
              rowData: rowData
            };

            console.log("drawing table aggr");

            // setup the grid after the page has finished loading
            var gridDiv = document.querySelector('#table-div');
            new agGrid.Grid(gridDiv, gridOptions);
            gridOptions.api.sizeColumnsToFit();

          }
          else {
              alert('HttpRequest Error');
          }
        }
      }

      // Proj buttons
      function projButtonRequest(elem){
        if (elem.style.backgroundColor == dark_shade) {
          elem.style.backgroundColor = light_shade;
        }
        else{
          elem.style.backgroundColor = dark_shade;
        }
        makeViolinRequest(left_mask, right_mask);
      }

      // Hovering over left panel elements
      function hoverStyleEnter(elem){
        elem.style.fontWeight = "bold";
        elem.style.cursor = "pointer";
      }

      function hoverStyleLeave(elem){
        if (selected_fts.includes(elem.attributes.id.nodeValue.toString().substring(5))){
        }
        else{
          elem.style.fontWeight = "normal";
          elem.style.cursor = "normal";
        }
      }

      // Add loading animation
      function add_loader(elem) {
        elem.innerHTML="";
        var load_wrap = document.createElement("div");
        load_wrap.className = "loader_wrap";
        var loader = document.createElement("div");
        loader.className = "lds-dual-ring";
        load_wrap.append(loader);
        elem.append(load_wrap);
      }

      // Loader for projection
      function add_loader2(elem) {
        // document.getElementById("bokeh-iframe").style.display = "none";
        var load_wrap = document.createElement("div");
        load_wrap.className = "loader_wrap";
        var loader = document.createElement("div");
        loader.className = "lds-dual-ring";
        load_wrap.append(loader);
        elem.append(load_wrap);
      }

      // Initialize feature list for global
      function ft_list() {
        for (i = 0; i < no_features; i++) {
          var feature_name = document.getElementsByClassName("feature-name")[i];
          feature_name.id =  "feat-" + i.toString();
          feature_name.style.fontWeight = "normal";
          feature_name.onclick = function () {flip_feature(this);};
          feature_name.onmouseover = function(){hoverStyleEnter(this);};
          feature_name.onmouseleave = function(){hoverStyleLeave(this);};
        }
      }

      // Reset button
      function resetFeatures(elem) {

        filter_set_idx = parseInt(elem.dataset.filtersetidx);
        selected_fts = [-1];        
        confusion_mat[filter_set_idx] = ["TP", "FP", "TN", "FN"];
        pred_range[filter_set_idx] = [0,100];
        doing_comparison = 0;
        reset_ft_curr_ranges(filter_set_idx);

        document.getElementById("feature-dropdown-"+filter_set_idx.toString()).value = "init";
        draw_filters(confusion_mat_2_state(confusion_mat[filter_set_idx]), filter_set_idx);

        // confusion_restart[filter_set_idx] = true;
        makeScatterRequest();
      }

      // Select/deselect features
      function flip_feature(elemn) {

        curr_alg = "True";
        dim_red = "TSNE";
        directionality = "True";

        // console.log(elemn.attributes.id.nodeValue.toString().substring(5));

        var index = selected_fts.indexOf(-1);
        if (index > -1) {
          selected_fts.splice(index, 1);
        }
        if (selected_fts.includes(elemn.attributes.id.nodeValue.toString().substring(5))) {
          index = selected_fts.indexOf(elemn.attributes.id.nodeValue.toString().substring(5));
          selected_fts.splice(index, 1);
          // elemn.style.fontSize = "12px";
          elemn.style.fontWeight = "normal";
        }
        else if (selected_fts.length < 5){
          selected_fts.push(elemn.attributes.id.nodeValue.toString().substring(5));
        }
        makeScatterRequest();
      }

      // Select previously selected features
      function highlight_features() {

        // console.log(selected_fts);
        var index = selected_fts.indexOf(-1);
        if (index > -1) {
          return;
        }
        for (i=0; i < selected_fts.length; i++){
          // elemn = selected_fts[i];
          // var ft_id = elemn.attributes.id.nodeValue.toString();//.substring(5);
          // console.log(ft_id);
          // console.log(selected_fts[i]);
          // document.getElementById(ft_id).style.fontWeight = "bold";
          document.getElementById("feat-" + selected_fts[i].toString()).style.fontWeight = "bold";
        }
      }

      // Start global screen after instructions
      function begin_glob(){

        var right = document.getElementById("demo");

        median_btn = document.getElementById("median-button");
        median_btn.onclick = function(){projButtonRequest(this);};
        median_btn.style.backgroundColor = dark_shade;

        points_btn = document.getElementById("points-button");
        points_btn.onclick = function(){projButtonRequest(this);};
        points_btn.style.backgroundColor = dark_shade;

        density_btn = document.getElementById("density-button");
        density_btn.onclick = function(){projButtonRequest(this);};
        density_btn.style.backgroundColor = dark_shade;

        cf_btn = document.getElementById("cf-button");
        cf_btn.onclick = function(){projButtonRequest(this);};
        cf_btn.style.backgroundColor = dark_shade;

        // reset = document.getElementById("reset-button-proj");
        // reset.onclick = function(){ resetFeatures(); };

        addFilterSet();

        // draw_filters(confusion_mat_2_state(confusion_mat[filter_set_idx]));
      }

      function checkTrigger(elem) {
        var text = elem.value;
        console.log(text);
        if (elem.checked == true){
          console.log("Checked");
          confusion_mat[filter_set_idx].push(text);
          //console.log(confusion_mat);

        } else {
           console.log("Unchecked");
           confusion_mat[filter_set_idx].splice(confusion_mat[filter_set_idx].indexOf(text), 1);
           //console.log(confusion_mat);
        }
        makeScatterRequest();
      }

      function matrixTrigger(checked, text, elem){
        console.log("elem calling matrix trigger:", elem.dataset.filteridx);
        var filtersetidx = parseInt(elem.dataset.filteridx);
        if (checked == true){
          console.log(checked);
          confusion_mat[filtersetidx].push(text);
          console.log(confusion_mat[filtersetidx]);
        } else {
           console.log(checked);
           confusion_mat[filtersetidx].splice(confusion_mat[filtersetidx].indexOf(text), 1);
           console.log(confusion_mat[filtersetidx]);
        }
        filter_set_idx = filtersetidx;
        makeScatterRequest();
      }
  
      function addFilterSet(idx){

        n_filter_sets+=1;

        document.getElementById("filter-sets-table").getElementsByTagName("tbody")[0].insertBefore(create_filter_set(n_filter_sets), 
          document.getElementById("tr-new-filter-set-button"));

        draw_filters(confusion_mat_2_state(confusion_mat[n_filter_sets]), n_filter_sets);
      }

      function compareTrigger(trigger_dropdown){
        idx = trigger_dropdown.value;
        console.log("Compare trigger", idx);
        if (idx == "none" || idx == "init" ){
          doing_comparison = 0;
          
        }

        else if (idx == "complement"){
          // do later
          doing_comparison = 0;
        }
        else {
          doing_comparison = 1;
          filter_set_idx_cmp = parseInt(idx);
        }
        makeScatterRequest();
      }

      fetch_csv();
      begin_glob();


    </script>

  </body>

</html>